*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
   width: 175px; 
   padding: 10px;
}
.logo img{
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px 0px 10px 0px;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}
.pin ol{
    display: flex;
    list-style-type: none;
    gap: 5px;
    margin-right: 20px;
}
.homeimage img{
display: flex;
width: 1920px;
height: 840px;

width: 100%
}
.headingdesc h1{
    margin-top: 50px;
    justify-content: center;
    display: flex;
}
p{
    margin-left: 10px;
    margin-top: 20px;
}
.homenav li{
    color: #f7f7f7;
    background: black;
}
.aboutusnav li{
        color: #f7f7f7;
    background: black;
}
.c1 h1{
margin: 10px 0 0 10px;

}
.p1 p{
    margin: 25px 0 0 10px;
    display:flex;

}
.chapter1 img{
    display:flex;
    width: 640px;
    height:480px;
margin-left: 10px;

}
.c2 h1{
    display:flex;
    justify-content: right;
    margin-right: 10px;
    margin-top: 30px;
}
.p2 p{
    margin: 25px 10px 0 0;
    display: flex;
    justify-content: right;
}
.chapter2 img{
    display: flex;
    width: 640px;
    height: 480px;
    justify-content: right;
    float: right;
    margin-right: 10px;

    
}
.c3 h1{
    
    display:flex;
    margin-top: 500px;
    margin-left: 10px;
}

.chapter3 img{
    display:flex;
    width: 640px;
    height:480px;
margin-left: 10px;
}
.productsnav li{
    color: #f7f7f7;
    background: black;
}

.section1 h1{
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*content area*/
.row {
  display: flex;
  background-color: aquamarine;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.row2 {
  display: flex;
  background-color: thistle;
}

.column2 {
  flex: 33.33%;
  padding: 5px;
}
.row3 {
  display: flex;
  background-color: burlywood;
}

.column3 {
  flex: 33.33%;
  padding: 5px;
}

